.icon {
  display: block;
  flex: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.icon-sm {
  width: 20px;
  height: 20px;
}

.icon-md {
  width: 24px;
  height: 24px;
}

.icon-lg {
  width: 32px;
  height: 32px;
}
